@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* :root{
    --primary-green : 
} */
li {
    list-style-type: none;

}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* ====== reusable styles ===== */
:root {
    --primary-green: #0b9876;
}

h1 {
    font-size: 8rem;
    font-family: 'Mova';
}

h2 {
    font-family: 'Westiva';
    font-size: 4rem;

}

body {
    line-height: 1.5;
    background-color: var(--primary-green);
    background-image: url(/background\ image.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.parent_container {

    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    height: 80vh;
    margin: 10vh auto;
    padding: 0 100px;

}

aside {
    background-color: #444444;
    color: white;
    /* font-size: 1.5rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 70px 30px 45px;
    line-height: 1.65;

}

.top_part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_photo {
    width: 18rem;

}

.name {
    font-weight: 700;
    font-size: 3.6rem;
}

aside p {
    font-size: 1.8rem;
    font-weight: 400;
    color: #909090;

}

.button_Area {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.social_icons img {
    width: 3rem;
    padding-bottom: 3rem;

}

.social_icons {
    margin-top: .2rem;
    display: flex;
    text-align: center;
    gap: 1.2rem;
    padding-top: 1rem;
}

.social_icons img:hover {
    background: rgba(11, 152, 118, 0.72);
    padding: 0rem;
    border-radius: 50%;
}



.cv_btn {
    color: #f5f5f5;

    font-size: 1.5rem;
    border: 1px solid #f5f5f5;
    padding: 0.8rem 3rem;
    border-radius: 4.3rem;
}

.cv_btn:hover {
    color: #0b9876;
    background-color: #f5f5f5;
}

.menu {
    word-wrap: break-word;
    width: 7rem;
    height: auto;
    padding: 2rem;
    background-color: #444;
    position: absolute;
    right: 45px;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    border-radius: 2rem;

}

.menu img {
    height: fit-content;
    width: 4rem;
    padding: 0.2rem 0.2rem;
    cursor: pointer;
}

.menu .icon span {
    position: relative;


}

.menu .icon a:hover {
    background: #82f3d1;
    padding: 0.2rem;
    border-radius: 40%;
}

.menu .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* z-index: 2; */
}

.menu .icon .tooltip {
    color: #f5f5f5;
    font-size: 1.4rem;
    font-weight: 700;
    background: var(--primary-green);
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.menu .icon:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
}

.menu .icon .tooltip::before {
    position: absolute;
    content: "";
    height: 1.5rem;
    /* background: rebeccapurple; */
    width: 1rem;
    top: 19px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);

}


/* ===== main ====== */

.main_container {
    height: 80vh;
    width: 80vw;
    display: flex;
    border-radius: 20px;
    display: grid;

    grid-template-columns: 1fr 2.3fr;

    /* gap: 1rem; */
}

main {
    background-color: #222222;
    color: white;


}

/* ====== middle container ==== */
.main_middle {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    height: 100%;
    padding: 1rem 2rem;
    
}

.piyush{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.auto-type {
    color: #0ba076;

}

.im {
    font-size: 2.2rem;
}


/* ==== about middle ====== */

.about_middle {
    padding: 6rem 2.8rem;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: flex;
flex-direction: column;
/* align-items: center; */
justify-content: space-between;
}

.about_middle::-webkit-scrollbar {
    width: 5px;
    /* height: 1rem; */
    background-color: #222;
}

.about_middle::-webkit-scrollbar-thumb {
    background: #6c6c6c;
    border-radius: 5px;
}

.me {
    color: var(--primary-green);
}

.text_about_me {
    display: flex;
    flex-direction: column;
    /* margin-top: 1rem; */
    padding-top: 2rem;

}

.about_p_1,
.about_p_2,
.about_p_3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.skills_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

}

.mywork {
    color: var(--primary-green);
    text-decoration: underline;
}

.skills_header_description {
    font-size: 1.6rem;
    font-weight: 700;
    /* font-family:; */
}

.skills_icons_container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem;
}

.skills_icons_container img {
    width: 7rem;
    margin-top: 2rem;
    margin-inline: 1rem;
    border-radius: 10px;
    /* object-fit: contain; */
}

.about_p_3 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 1.2rem;
}


/* ====== service section ====== */
.service-flex {
    display: flex;
    max-width: 90vw;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 1.7rem;

}

h4 {
    font-size: 2.5rem;
}

.service-box {
    width: 30rem;
    height: auto;
    margin-inline: 0.8rem;
    margin-top: 1.5rem;
    text-align: center;
    /* box-shadow: var(--shadpw); */
    border-radius: 5px;
    padding: 2.5rem 3rem;
    /* transition: all 0.2s linear; */
    background-color: rgba(214, 216, 215, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2.5rem;
    box-shadow: 10px 12px 11px -6px rgba(11, 152, 118, 0.44);
    -webkit-box-shadow: 10px 12px 11px -6px rgba(11, 152, 118, 0.44);
    -moz-box-shadow: 10px 12px 11px -6px rgba(11, 152, 118, 0.44);
}

h3 {
    margin: 0.5rem auto;
    font-size: 1rem;

}

.seo {
    font-family: 'Libre Baskerville', serif;
    color: var(--primary-green);
}

.service-p {
    max-width: 300px;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0.5rem;
    /* font-weight: 700; */
    /* margin: px auto; */
    font-family: 'Courier New', Courier, monospace;

}

.service-box:hover {
    /* margin-top: 1rem; */
    transform: translateY(-1rem);


}

.service-icon {
    width: 15rem;
    height: 15rem;
    background-color: rgb(144 172 209 / 20%);
    display: inline-block;
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    padding: 1rem 1rem;
    position: relative;
    animation: water-wave 3s linear infinite;
    z-index: 1;
}

.service-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(11, 15, 20, 0.9);
    width: 90%;
    height: 90%;
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    background-color: transparent;
    animation: water-wave 5s linear infinite alternate;
}

@keyframes water-wave {
    0% {
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }

    50% {
        border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
    }

    100% {
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }
}



/* ====== service section ====== */

.contact_container {
    display: flex;
    /* background: rebeccapurple; */
    width: 100%;
    min-height: 100vh;
    /* overflow: visible; */
    overflow: auto;
    align-items: flex-start;
    padding: 3.5rem 0.1rem ;
}

.left {

    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.left img {
    width: 3rem;
}

.right {
    /* background: firebrick; */
    width: 60%;
}

.card {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0.8rem;
    width: 95%;
    margin: 0 auto;
    background: #333;
    gap: 0.8rem;

}

.left p {
    font-weight: 600;
    font-size: 1.2rem;
}

.details {
    display: flex;
    flex-direction: column;
}


.right {
    display: flex;
    flex-direction: column;
    /* margin: 1rem ; */
    padding: 1rem 1rem;
}

h3 {
    font-size: 3.5rem;
    font-family: 'Westiva';
}

h3 span {
    color: var(--primary-green);
}

form {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 2rem 0;
    /* background: rebeccapurple; */
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.name-half {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1.5rem;

}

input,
textarea {
    font-size: 1.2rem;
    padding: 1rem;
    outline: none;
    border: 2px solid #6c6c6c;
    background: #222222;
    border-radius: 8px;

}

textarea {
    height: 15rem;
    width: 15rem;
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px solid var(--primary-green);
    color: white;
}

.msg-half {
    width: 50%;


}

.button {
    background: #222;
    width: fit-content;
    font-size: 1.8rem;
    color: white;
    font-weight: 400;
    padding: 1rem 2rem;
    border: none;
    border: 2px solid var(--primary-green);
    border-radius: 10px;
}

.button:hover {
    /* color: var(--primary-green); */
    background: var(--primary-green);
    transition: ease-in 0.3s;
}
/* ******* ANIMATIONS OF CONTACT US ******** */
.lets_talk{
    animation: top-to-bottom 1s;
}
@keyframes top-to-bottom{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
.left {
    animation: fade-in-move-down 1s;
  }
  
  @keyframes fade-in-move-down {
    0% {
      opacity: 0;
      transform: translateX(-3rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .right {
    animation:fade-in-left-to-right 1s;
  }
  
  @keyframes fade-in-left-to-right {
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
/* ======= projects section ===== */
.project_middle {
    display: flex;
    flex-direction: column;

}

.project_1 {
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 1rem;
    gap: 0.9rem;
}

.swiper {
    width: 74vw;

}

.swiper_slide img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desc {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    /* align-items: center; */
    /* background-color: cadetblue; */

}

.description_heading {
    font-size: 1.5rem;
    padding: 0.8rem 1.5rem;
    border-left: 4px solid #0b9876;
    background: #444;
    font-weight: 700;
    width: fit-content;

}

.description p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.desc a {
    color: #f5f5f5;
    font-size: 0.8rem;
    border: 1px solid #f5f5f5;
    padding: 0.4rem 0.8rem;
    /* border-radius: 3rem; */
    width: fit-content;
}

.desc a:hover {
    background-color: #444444;
    color: var(--primary-green);
}


html.sr .load-hidden {
    visibility: hidden;
}

/* ===== responsive design===== */
@media screen and (max-width:1222px) {
    .name {
        font-size: 2.5rem;
    }

}

@media screen and (max-width:73em) {
    .about_middle {
        padding: 5rem 2.5rem;
    }

    /* 1168px */
    .profile_photo {
        width: 16rem;

    }

    .name {
        font-size: 2.7rem;
    }

    aside p {
        font-size: 1.7rem;
    }

    .social_icons img {
        width: 2.7rem;

    }

    .cv_btn {
        font-size: 1.3rem;
        padding: 0.7rem 2.5rem;
    }

    .menu {
        right: 30px;
        /* padding-left: rem; */
        margin-left: .8rem;
    }

    .aside {
        gap: 0.8rem;
    }

    /* ===== contact me section ==== */
    .left {
        gap: 0.8rem
    }

    .left img {
        width: 2.5rem;
    }

    .card {
        padding: 2rem 0.6rem;
    }

    .left p {
        font-size: 1rem.1;
    }

    .right h3 {
        font-size: 3rem;
    }

    .name-half {
        gap: 1.2rem;
    }

    input,
    textarea {
        font-size: 1rem;
        padding: 0.9rem;
    }

    .button {
        font-size: 1.4rem;
        padding: 0.8rem 1.5rem;

    }

    /* =====project section ===== */
    .project_1 {
        padding: 1rem 0.9rem;
    }

    .swiper {
        width: 75vw;
        height: 100%;
    }

    .description_heading {
        font-size: 1.3rem;
        padding: 0.5rem 1rem;

    }

    .description p {
        font-size: 1.1rem;
    }

    .desc a {
        font-size: 0.9rem;
        padding: 0.3rem 0.5rem;
    }

    textarea {
        width: 13rem;
    }

    .contact_container {
        padding: 3rem .1rem;
    }
}


.hamburger {
    /* display: none; */
    cursor: pointer;
}

/*  */

@media screen and (max-width:61.5em) {

    /* 990px*/
    .profile_photo {
        width: 13rem;
    }

    .name {
        font-size: 2rem;
    }

    h1 {
        font-size: 7rem;
    }

    .im {
        font-size: 2rem;
    }

    aside p {
        font-size: 1.4rem;
    }

    .social_icons img {
        width: 2.4rem;
    }

    .menu {
        width: 5.5rem;
        padding: 1.2rem;
        gap: 0.8rem;
        right: 30px;
    }

    .menu img {
        width: 3.5rem;
        padding: 0.2rem 0.1rem;
    }

    .menu .icon .tooltip {
        font-size: 1.2rem;
    }

    /* ====== about me section  ====*/
    .skills_icons {
        margin-top: 2.5rem;
    }

    .skills_icons_container img {
        width: 6rem;

    }

    .skills_icons_container p {
        font-size: 0.7rem;
    }

    /* ===contact me section ===== */


    .name-half {
        gap: 1rem;
    }

    /* =====project sectionn ===== */

    .mobile {
        /* background: cadetblue; */
        width: 95%;
        margin: 0 auto;
    }

    .project_1 {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        /* text-align: left; */
        justify-content: center;
        border-bottom: 2px solid #0b9876;
    }

    .swiper {
        width: 100%;
    }

    .desc a {
        font-size: 1rem;
        padding: 0.2rem 0.5rem;
    }

    /* ======= contact section ====== */
    .contact_container {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0.1rem;
        /* justify-content: center; */
    }

    .left,
    .right {
        width: 100%;
        /* height: auto; */
    }

    .card {
        padding: 2.8rem 1.3rem;
    }

    .left p {
        font-size: 2rem;
    }

    .left img {
        width: 4rem;
    }

    form {
        gap: 2rem;
    }

    input,
    ::placeholder {
        color: white;
        font-size: 1.3rem;
        padding: 1rem 1.2rem;
    }

    textarea {
        width: 100%;
    }

}


@media screen and (max-width:52.5em) {

    /* 840px */
    .profile_photo {
        width: 10rem;
    }

    .name {
        font-size: 1.7rem;
    }

    h1 {
        font-size: 6rem;
    }

    aside p {
        font-size: 1.4rem;
    }

    .social_icons img {
        width: 2.4rem;
    }

    .cv_btn {
        font-size: 1.2rem;
        padding: 0.5rem 1.2rem;
    }

    .menu {
        width: 5rem;
        padding: 0.6rem 1rem;
        gap: 0.5rem;
        left: 90%;
    }

    .menu .tooltip {
        font-size: 0.5rem;
    }

    .about_p_1,
    .about_p_2,
    .about_p_3 {
        font-size: 1.2rem;
    }
}

.mobile-menu {
    visibility: hidden;
}

.mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 1.5rem; */
    margin-top:3.8rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #333;
    /* padding: 1rem 0.5rem; */
/* text-align: center; */
}

.mobile-menu a{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.text{
    background-color: #0b9876;
    color: white;
    padding: 0.2rem;
    border-radius: 0.5rem;
    writing-mode: vertical-lr;
}

.mobile-menu img {
    width: 5rem;
    /* border-radius: 40%; */
    object-fit: contain;
    padding-inline: 0.5rem;
}

@media screen and (max-width:51.8em) {

    /* 828px */
    .menu {
        display: none;
    }

    aside {
        display: none;
    }

    .parent_container {
        margin: 0;
        padding: 0;
    }

    .main_container {
        width: 100vw;
        /* height: 100vh; */
    }

    /* .main_middle {
        width: 100vw;
        height: 100vh;
    } */

    .about_middle {
        width: 100vw;
        height: 100vh;
    }

    .profile_photo {
        width: 10rem;
    }

    .name {
        font-size: 1.5rem;
    }

    aside p {
        font-size: 1.1rem;
    }

    .social_icons img {
        width: 2rem;
    }

    .cv_btn {
        font-size: 1rem;
        padding: 0.3rem 1rem;
    }

    .copyright {
        font-size: 0.8rem;

    }

    .mobile-menu {
        visibility: visible;

    }

}



@media screen and (max-width:23.75em) {
    /*380px */
    h1 {
        font-size: 4.8rem;
    }
    .im{
        font-size: 1.7rem;
    }
    .right h3{
        font-size: 2.1rem;
    }
}